#main-content
  %h2.welcome
    %span.first
    %span.signup
      Sign Up
    %span.last
    .clear

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    - f.labeled_input :email do
      = f.label :email, :class => "hide"
      .input
        = f.email_field :email, value: params[:user].try(:[], :email) || params[:email], :placeholder =>"Email"
    - f.labeled_input :password do
      = f.label :password, :class => "hide"
      .input
        = f.password_field :password, :placeholder =>"Password"
    - f.labeled_input :password_confirmation do
      = f.label :password_confirmation, :class => "hide"
      .input
        = f.password_field :password_confirmation, :placeholder =>"Password confirmation"
    .input
      = f.submit 'Sign up', :class => 'btn'
  %p.small
    = render 'links'
