%tr.build-status-line
  %td
    - if build && build.has_commit_info? && build.results.any?
      - p build
      .commit-hash= build.short_hash
      .commit-message= build.commit_message
      .commit-details
        %span.commit-date= time_ago_in_words(build.commit_date)
        ago by
        %span.commit-author= build.commit_author
      .commit-time
        - if build.end_time.present?
          Duration:
          = "#{build.duration.round}s -"
        - if build.start_time.present?
          Started at:
          = build.start_time.strftime "%Y-%m-%d %H:%M:%S"
        - if build.end_time.present?
          \- Ended at:
          = build.end_time.strftime "%Y-%m-%d %H:%M:%S"
    - else
      .commit-waiting Waiting for commit info...
  %td.result-col.final-result= status_image(build.status)
  = render 'builds/build_tds', build: build
  - if can? :destroy, build
    %td.small-col.hide-responsive
      = link_to "Delete", [@project, build], :data => { :confirm => "Are you sure you want to delete this build?" }, :method => :delete, :class => "btn btn-danger" unless build.status == :busy
