#main-content
  %h2.welcome
    %span.first
    %span.register
      Register
    %span.last
    .clear

  %p Create your first admin account to get started

  = form_for @user do |f|
    - f.labeled_input :email do
      = f.label :email, :class => "hide"
      .input
        = f.email_field :email, :placeholder =>"Email"
    - f.labeled_input :password do
      = f.label :password, :class => "hide"
      .input
        = f.password_field :password, :placeholder =>"Password"
    - f.labeled_input :password_confirmation do
      = f.label :password_confirmation, :class => "hide"
      .input
        = f.password_field :password_confirmation, :placeholder =>"Password confirmation"
    .input
      = f.submit 'Create account', :class => 'btn'
