<div id="main-content">
  <h2 class="forgot">
    <span class="first"></span>
    <span class="Changeyourpassword">
      Change your password
    </span>
    <span class="last"></span>
    <div class="clear"></div>
  </h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class=" clearfix"><%= f.label :password, "New password", :class =>"hide" %>
    <div class="input"><%= f.password_field :password, :placeholder => "New password" %></div></div>

    <div class=" clearfix"><%= f.label :password_confirmation, "Confirm new password", :class =>"hide" %>
    <div class="input"><%= f.password_field :password_confirmation, :placeholder => "Confirm new password" %></div></div>

    <div><%= f.submit "Change my password", :class => 'btn' %></div>
  <% end %>

  <p class="small"><%= render "links" %></p>
</div>