#main-content
  %h2.forgot
    %span.first
    %span.Forgotyourpassword
      Forgot your password?
    %span.last
    .clear


  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!

    - f.labeled_input :email do
      = f.label :email, :class => "hide"
      .input
        = f.email_field :email, :placeholder => "Email"
    .input
      = f.submit 'Send me reset instructions', :class => 'btn'
  %p.small
    = render 'links'
