= image_tag 'large-logo.png'

%p
  You have been invited as a
  = @invitation.role
  of
  = @invitation.project.name
  on Bennett!

%p= link_to 'Sign up on Bennett!', new_user_registration_url(:email => @invitation.email)

= image_tag 'small-logo.png'
