%table.condensed-table.table-bordered.table-striped
  = render partial: 'builds/header'
  = render partial: @build

%h2="Log: #{@result.command.name}"
%p="Started at: #{l @result.start_time} - Ended at: #{l @result.end_time}"
%pre
  - if File.exists?(@result.log_path)
    = escape_to_html @result.log
  - else
    %p No log file
