%table.condensed-table.zebra-striped.bordered-table
  = render partial: 'builds/header'
  = render partial: @build

%h2="Log: #{@result.command.name}"
%p="Started at: #{@result.start_time} - Ended at: #{@result.end_time}"
.log
  - if File.exists?(@result.log_path)
    = escape_to_html @result.log
  - else
    = No log file