<h2><%= @project.name %>: Build results</h2>
<%= render :partial => 'projects/builds' , :locals => {:builds => [@build] }%>

<h2>Log: <%= @result.command.name %></h2>
<p>Started at: <%= @result.start_time %> - Ended at: <%= @result.end_time %></p>
<div class="log">
  <%= escape_to_html @result.log %>
</div>