<% if builds.any? %>
  <table>
    <%= render partial: 'builds/header' %>
    <%= render partial: builds %>
  </table>
<% else %>
  No builds yet... Click below to request one!
<% end %>
<p><%= will_paginate builds, :params => {:format => :html} %></p>

<%= form_for [@project, @new_build], remote: true do |f| %>
  <%= f.submit 'Request a build', onclick: '$(this).submit().attr("value", "Please wait...").attr("disabled", true);' %>
<% end %>