= form_for project do |form|
  - form.labeled_input :name do
    = form.label :name, :class => "hide"
    .input
      = form.text_field :name, :placeholder => "Name"
  - form.labeled_input :folder_path do
    = form.label :folder_path, "Location", :class => "hide"
    .input
      = form.text_field :folder_path, :placeholder => "Location"
  - form.labeled_input :branch do
    = form.label :branch, :class => "hide"
    .input
      = form.text_field :branch, :placeholder => "Branch"
  - form.labeled_input :recentizer do
    .input.checkbox-btn
      = form.check_box :recentizer
    = form.label :recentizer, :class => "checkbox-style1"
    .clear
    %span.help-block Only process most recent build (Recentizer&#153; 3000 Pro)
  - form.labeled_input :build_at_midnight do
    .input.checkbox-btn
      = form.check_box :build_nightly
    = form.label :build_nightly, :class => "checkbox-style1"
    .clear
    %span.help-block Build every night at 1:00 regardless of activity
  .input
    = form.submit "Save the project", :class => "btn"
