<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
	<div class="field">
    <%= f.label :branch %><br />
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.check_box :recentizer %> <%= f.label :recentizer, 'Only process most recent build (Recentizer&#153; 3000 Pro)'.html_safe %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
