<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
