%h2
  %span.title
    Project setting
  %span.line
  .clear

%p
  %strong Name:
  = @project.name
%p
  %strong Location:
  = @project.folder_path
%p
  %strong Branch:
  = @project.branch
%p
  %strong Recentizer&#153; 3000 Pro:
  = @project.recentizer? ? 'On' : 'Off'
%p
  %strong Build nightly:
  = @project.build_nightly? ? 'On' : 'Off'
%p
  %strong Post-Receive URL for Git hook:
  = project_builds_url(@project, format: :json, t: @project.hook_token)

- if can? :update, @project
  = link_to 'Edit', edit_project_path(@project), :class => "btn"
- if can? :destroy, @project
  = link_to "Delete", @project, confirm: "Are you sure you want to delete this project and all these builds and commands?", method: :delete, class: "btn btn-danger"
