%h2
  %span.title
    Project users
  %span.line
  .clear

.col-box
  %table.condensed-table.table-bordered.table-striped
    %thead
      %tr
        %th E-mail
        %th Role
        %th
    %tbody
      - @project.rights.each do |right|
        %tr
          %td= right.user.email
          %td
            = form_for right do |f|
              = f.select :role, options_for_select(Right::ROLES, :selected => right.role), {}, :class => 'right-role-select'
          %td.center-col= link_to 'Delete', right, :method => :delete, :class => 'btn btn-danger small', :data => { :confirm => 'Delete access to this user?' }
      %tr
        %td{:colspan => 3}
          %strong Pending invitations
      - @pending_invitations.each do |invitation|
        %tr
          %td
            %em= invitation.email
          %td
            = form_for invitation do |f|
              = f.select :role, options_for_select(Right::ROLES, :selected => invitation.role), {}, :class => 'invitation-role-select'
          %td.center-col= link_to 'Delete', invitation, :method => :delete, :class => 'btn btn-danger small', :data => { :confirm => 'Recall this invitation?' }
.col-box2
  = form_tag project_add_user_or_invite_path(@project) do
    %table.condensed-table.table-bordered.table-striped
      %thead
        %tr
          %th{:colspan => 3} Add a user to this project
      %tbody
        %tr
          %td
            = select_tag :user_id, options_from_collection_for_select(@available_users, :id, :email), :prompt => 'Select a user'
            or
            = email_field_tag :email, '', :placeholder => 'Enter an e-mail to invite a new user'
          %td
            = select_tag :role, options_for_select(Right::ROLES)
          %td.center-col
            = submit_tag 'Add', :class => 'btn btn-success'
