%p= link_to "New projecttttttttttttttt", new_project_path, :class => "btn success"
%table.zebra-striped.bordered-table
  %tr
    %thead
      %th Project name
      %th Last status
    %tbody#projects-summary
      = render partial: @projects
%script{:type => "text/javascript", :charset => "utf-8"}
  = "project = new Projects();"
  = "project.reload_projects(#{ params.to_json });".html_safe