#my-tab-content.tab-content
  #builds-list-tab.active.tab-content-inner
    %h2
      %span.title
        = @project.name
      %span.line
      .btn-box
        = link_to root_url, :class => "btn pull-right" do
          Back
          %span.hide-responsive
            to the dashboard
      .clear
    = render 'builds', project: @project, builds: @builds

  #commands-list-tab.tab-content-inner
    = render 'commands/list'

  #settings-list-tab.tab-content-inner
    = render 'settings'

  - if can? :read, @project.users
    #users-list-tab.tab-content-inner
      = render 'users'

%script{:type => 'text/javascript', :charset => 'utf-8'}
  = 'projects = new Projects();'
  = "projects.reload_builds(#{ params.to_json });".html_safe
