<%= render :partial => 'header', :locals => {:projects => @projects, :project => @project} %>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th class="build-id">Build</th>
    <% @project.commands.sorted.each do |command| %>
      <th><%= command.name %></th>
    <% end %>
  </tr>

<% @project.builds.recent_first.each do |build| %>
  <tr>
    <td><%= build_information build %></td>
    <%= build_results_in_tds build %>
  </tr>
<% end %>
</table>



<h2>Project settings</h2>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>Source:</b>
  <%= @project.source %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %>
