<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Build results</h2>
<div id="builds-list">
  <%= render partial: 'builds', locals: {builds: @builds } %>
</div>

<%= render partial: 'commands/list' %>

<h2 class="section">Project settings</h2>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>Location:</b>
  <%= @project.folder_path %>
</p>
<p>
  <b>Branch:</b>
  <%= @project.branch %>
</p>
<p>
  <b>Recentizer&#153; 3000 Pro:</b>
  <%= @project.recentizer? ? 'On' : 'Off' %>
</p>
<p>
  <b>Post-Receive URL for Git hook:</b>
  <%= "/projects/#{@project.id}/builds" %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to "Delete", @project, confirm: "Are you sure you want to delete this project and all these builds and commands?", method: :delete %>

<script type="text/javascript">
  reload_builds(<%= params.to_json.html_safe %>);
</script>