<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Build results</h2>
<% if @project.builds.any? %>
  <table>
    <tr>
      <th class="build-id">Build</th>
      <% @project.commands.each do |command| %>
        <th><%= command.name %></th>
      <% end %>
    </tr>
  
  <% @project.builds.recent_first.each do |build| %>
    <tr class="build-status-line">
      <td class="build-info"><%= build_information build %></td>
      <%= build_results_in_tds build %>
    </tr>
  <% end %>
  </table>
<% else %>
  No builds yet... Click below to request one!
<% end %>

<%= form_for [@project, @new_build] do |f| %>
  <%= f.submit 'Request a build' %>
<% end %>
  
<%= render :partial => 'commands/list' %>

<h2 class="section">Project settings</h2>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>
<p>
  <b>Source:</b>
  <%= @project.source %>
</p>
<p>
  <b>Recentizer&#153; 3000 Pro:</b>
  <%= @project.recentizer? ? 'On' : 'Off' %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %>
