%ul.tabs{ "data-tabs" => "tabs"}
  %li.active=link_to "Builds", "#builds-list-tab"
  %li=link_to "Commands", "#commands-list-tab"
  %li=link_to "Settings", "#settings-list-tab"

#my-tab-content.tab-content
  #builds-list-tab.active
    %h2 Build results
    = render 'builds', project: @project, builds: @builds

  #commands-list-tab
    = render 'commands/list'

  #settings-list-tab
    = render 'settings'

%script{:type => "text/javascript", :charset => "utf-8"}
  = "projects = new Projects();"
  = "projects.reload_builds(#{ params.to_json });".html_safe