#main-content
  %h2.welcome
    %span.first
    %span.signin
      Sign In
    %span.last
    .clear

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    - f.labeled_input :email do
      = f.label :email, :class => "hide"
      .input
        = f.email_field :email, :placeholder => "E-mail"
    - f.labeled_input :password do
      = f.label :password, :class => "hide"
      .input
        = f.password_field :password, :placeholder => "Password"
    - if devise_mapping.rememberable?
      - f.labeled_input :remember_me, :class => "checkbox-inner" do
        = f.label :remember_me
        .input
          = f.check_box :remember_me
    .input
      = f.submit 'Log in', :class => 'btn'
  %p.small
    = render 'links'
