= form_for [@project, @command]  do |form|
  - form.labeled_input :name do
    = form.label :name, :class => "hide"
    .input
      = form.text_field :name, :placeholder => "Name"
  - form.labeled_input :command do
    = form.label :command, :class => "hide"
    .input
      = form.text_field :command, :placeholder => "Command"
  .input
    = form.submit "Save", :class => "btn"