%h2
  %span.title
    Build commands
  %span.line
  .clear

- if @project.commands.any?
  = form_for @project do |f|
    %table.condensed-table.table-bordered.table-striped
      %thead
        %tr
          %th Order
          %th Name
          %th Command
          - if can? :manage, (dummy_command = Command.new(project: @project))
            %th Actions
      %tbody
        = f.fields_for :commands do |cf|
          %tr
            %td{ :width => "10px" }
              = cf.hidden_field :id
              = cf.text_field :position, :class => :span1, :disabled => !can?(:manage, dummy_command)
            %td
              %strong= cf.object.name
            %td
              %em= cf.object.command
            - if can? :manage, dummy_command
              %td.center-col
                = link_to 'Edit', edit_project_command_path(@project, cf.object), :class => "btn"
                = link_to 'Delete', project_command_path(@project, cf.object), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
      - if can? :manage, dummy_command
        %tfoot
          %tr
            %td.center-col= f.submit 'Save', :class => "btn"
            %td
            %td
            %td.center-col= link_to 'Add', new_project_command_path(@project), :class => "btn btn-success"
- else
  %p No commands configured yet...
  = link_to 'Add one to get started !', new_project_command_path(@project), :class => "btn btn-success"