.topbar
  .topbar-inner
    .container-fluid
      = link_to projects_path, :class => :brand do
        = image_tag 'logo-32.png', :alt => 'Bennett'
      - if user_signed_in?
        %ul.nav
          %li{ :class => ('active' if current_project.nil?) }=link_to 'All projects', projects_path
          - projects.each do |project|
            %li{ :class => ('active' if current_project && project == current_project) }
              = link_to project.name, project
        %ul.nav.secondary-nav
          - if can? :manage, User
            %li= link_to 'Admins', users_path
          - if can? :manage, Resque
            %li= link_to 'Queues', '/resque', :class => 'pull-right', :target => :_blank
          - if user_signed_in?
            %li= link_to 'Logout', destroy_user_session_path, :method => :delete
      - else
