<!DOCTYPE html>
<html>
<head>
  <title>Beci</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'projects/header', :locals => {:projects => @projects, :project => @project} %>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
