!!! 5
%html
  %head
    %title Bennett
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header', locals: { projects: @projects, current_project: @project }
    .container-fluid
      .content

        = render partial: "layouts/flashes"
        = yield
    %footer
      %p#autoreload-status.pull-right
      %p &copy; Belighted 2011
