!!! 5
%html
  %head
    %title Bennett
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=0.5, maximum-scale=2"}
  %body{:class => user_signed_in? ? 'connection-mode' : ''}
    .container
      = render partial: 'layouts/header', locals: { projects: @projects, current_project: @project }
      .content

        = render partial: "layouts/flashes"
        = yield

      .spacer-footer
    %footer
      #footer-inner
        %p.copyright
          %span.copy
            Copyright &copy; 2012
            = link_to 'Belighted sprl', 'http://belighted.com'
            <span class="sep">|</span>
          = link_to 'About', 'http://platypus.belighted.com/bennett/'
          |
          = link_to 'Report bug', 'https://github.com/belighted/bennett/issues'
          |
          = link_to 'Source code', 'https://github.com/belighted/bennett'
        %a{:href => "http://www.belighted.com", :class=>"belighted"}
          %span.hide Belighted - Belgium - Louvain-la-Neuve

    %script{type: "text/javascript"}
      var uvOptions = {};
      (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/TJXrfA5U3qJ6fH4TdOClCw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();

- if Rails.env.development?
  :javascript
    console.log("params: #{params.inspect.gsub('"', '\\"')}")
    console.log("flash:  #{flash.to_hash.inspect.gsub('"', '\\"')}")
